<link rel="stylesheet" href="/css/_header.css">
<div id = 'header'>
    <div>
        <h3>Habits</h3>
    </div>
    <div id="sign-out">
        <span><%= user.name %></span>
        <span><a href="/users/sign-out">Sign Out</a></span>
    </div>
</div>