<link rel="stylesheet" href="/css/_log_in.css">
<div id = "sign-in-container">
    <form action="/users/create-session" method="post">
        <input type="email" name="email" id="" placeholder="Emaill" required>
        <input type="password" name="password" id="" placeholder="Password" required>
        <button type="submit" >Sign In</button>
    </form>
</div>
