<link rel="stylesheet" href="/css/_sign_up.css">
<div id="sign-up-container">
    <form action="/users/create" method="POST">
        <input type="text" name="name" id="" placeholder="Your name " required>
        <input type="email" name="email" id="" placeholder="Email Id " required>
        <input type="password" name = 'password' placeholder="password " required>
        <input type="password" name = 'confirm_password' placeholder="Confirm password " required>
        <button type = "submit">Submit</button>
        <!-- <input type="submit" name="" value="submit" id=""> -->
    </form>
</div>
